* {
    color: #fff;
}

body {
    margin: 0;
    text-align: center;
    background: #FFC107;
    display: grid;
    place-items: center;
    height: 100vh;
}

#calculator {
    background-color: #607D8B;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 15px 10px 0px 5px #00000033;
}

.pantalla {
    grid-column: 1 / 5;
    background-color: #363636;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-weight: 500px;
}

.btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem .5rem;
    border: none;
    border-radius: .5rem;
    background-color: rgb(13, 23, 42);
    box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);

}

button:active {
    background-color: #4e5251;
    transform: scale(1.05);
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #e6394a;
}

#igual:hover {
    background-color: #e657e6;
}